* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat";
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 70px;
}
header img {
  width: 122px;
  height: 38px;
}
header nav {
  display: grid;
  place-items: center;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3em;
}
header .active {
  text-decoration: underline;
}
@media (max-width: 480px) {
  header {
    margin: 10px 20px;
  }
}

footer {
  width: 100%;
  min-height: 150px;
  background-color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .container {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .container img {
  width: 30%;
  min-width: 100px;
  margin-bottom: 10%;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
footer .container .legal p {
  color: white;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5%;
}
@media (max-width: 480px) {
  footer .container .legal p {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  footer .container {
    margin-top: 0;
  }
  footer .container .legal {
    width: 50%;
    text-align: center;
  }
}

.hero-banner {
  position: relative;
  height: 200px;
  margin: 40px 80px;
  overflow: hidden;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero-banner img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-banner .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.hero-banner p {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
@media (max-width: 480px) {
  .hero-banner p {
    -webkit-text-stroke: 0px;
    font-size: 22px;
    text-align: left;
    width: 60%;
    padding: 20px;
  }
}
@media (max-width: 480px) {
  .hero-banner {
    margin: 40px 20px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    border-radius: 10px;
  }
}

.logements-gallery {
  position: relative;
  margin: 40px 80px;
  background-color: rgb(246, 246, 246);
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.logements-gallery .gallery {
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.logements-gallery .gallery .item {
  position: relative;
  height: 280px;
  border-radius: 10px;
}
.logements-gallery .gallery .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.logements-gallery .gallery .item .infos p {
  color: white;
  font-size: 18px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2;
}
@media (max-width: 480px) {
  .logements-gallery .gallery {
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .logements-gallery {
    background-color: white;
    margin: 20px 20px;
  }
}

.page-error {
  color: rgb(255, 96, 96);
  text-align: center;
}
.page-error h1 {
  margin-top: 100px;
  font-size: 288px;
  font-weight: 700;
}
@media (max-width: 480px) {
  .page-error h1 {
    font-size: 96px;
    margin-top: 170px;
  }
}
.page-error h2 {
  margin-top: 70px;
  font-weight: 500;
  font-size: 36px;
}
@media (max-width: 480px) {
  .page-error h2 {
    font-size: 18px;
    padding: 0 50px;
    margin-top: 140px;
  }
}
.page-error p {
  color: black;
  text-decoration: underline;
  font-size: 18px;
  margin: 100px 0;
}
@media (max-width: 480px) {
  .page-error p {
    font-size: 14px;
    margin: 140px 0;
  }
}

.collapse {
  margin: 80px 120px;
}
.collapse .collapse-item {
  background-color: rgb(255, 96, 96);
  margin-bottom: 25px;
  border-radius: 5px;
  color: white;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.collapse .collapse-item .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
  height: 60px;
}
.collapse .collapse-item h1 {
  font-size: 24px;
  font-weight: 700;
}
.collapse .collapse-item i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  font-size: 25px;
  cursor: pointer;
}
.collapse .collapse-item.active i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.collapse .collapse-item.active .description {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  padding: 10px;
  font-size: 18px;
  background-color: rgb(230, 230, 230);
}
.collapse .collapse-item.active .description h2 {
  color: black;
  font-size: 20px;
  margin: 10px 20px;
  font-weight: 300;
}
@media (max-width: 480px) {
  .collapse {
    margin: 20px 20px;
  }
}

.logement-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 80px;
  min-height: 600px;
  position: relative;
}
.logement-slider .slider-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 25px;
}
.logement-slider .arrow {
  position: absolute;
  margin: 0 20px;
  cursor: pointer;
}
.logement-slider .arrow_left {
  left: 10px;
}
.logement-slider .arrow_right {
  right: 10px;
}
.logement-slider .slider-infos {
  color: white;
  font-size: 24px;
  font-weight: 500;
  margin-top: 530px;
}
@media (max-width: 480px) {
  .logement-slider .slider-infos {
    display: none;
  }
}
@media (max-width: 480px) {
  .logement-slider {
    margin: 40px 20px;
    border-radius: 10px;
  }
}

.logement-informations {
  margin: 40px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.logement-informations .infos .title {
  color: rgb(255, 96, 96);
  font-size: 36px;
  font-weight: 500;
  max-width: 550px;
}
.logement-informations .infos .location {
  font-size: 18px;
  font-weight: 500;
  margin: 15px 0;
}
.logement-informations .infos .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.logement-informations .infos .tags .tag {
  color: white;
  font-size: 14px;
  font-weight: 700;
  background-color: rgb(255, 96, 96);
  padding: 5px 30px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.logement-informations .details {
  display: block;
}
.logement-informations .details .host-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.logement-informations .details .host-infos p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  color: rgb(255, 96, 96);
  line-height: 1.5;
  text-align: right;
  width: 40%;
}
.logement-informations .details .host-infos img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
@media (max-width: 480px) {
  .logement-informations .details .host-infos img {
    width: 60px;
    height: 60px;
  }
}
.logement-informations .details .rating {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.logement-informations .details .rating i {
  margin: 0 7px;
  font-size: 20px;
  color: rgb(227, 227, 227);
}
.logement-informations .details .rating i.active {
  color: rgb(255, 96, 96);
}
@media (max-width: 480px) {
  .logement-informations .details .rating i {
    font-size: 17px;
    margin: 0 5px;
  }
}
@media (max-width: 480px) {
  .logement-informations .details {
    margin: 30px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media (max-width: 480px) {
  .logement-informations {
    margin: 40px 20px;
    display: block;
  }
}

.logement_others {
  margin: 40px 80px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 50px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.logement_others .collapse-item {
  background-color: rgb(255, 96, 96);
  margin-bottom: 25px;
  border-radius: 5px;
  color: white;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.logement_others .collapse-item .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
  height: 60px;
}
.logement_others .collapse-item h1 {
  font-size: 24px;
  font-weight: 700;
}
.logement_others .collapse-item i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  font-size: 25px;
  cursor: pointer;
}
.logement_others .collapse-item.active i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.logement_others .collapse-item.active .description {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  padding: 10px;
  font-size: 18px;
  background-color: rgb(230, 230, 230);
}
.logement_others .collapse-item.active .description h2 {
  color: black;
  font-size: 20px;
  margin: 10px 20px;
  font-weight: 300;
}
@media (max-width: 480px) {
  .logement_others {
    margin: 40px 20px;
    display: block;
  }
}/*# sourceMappingURL=main.css.map */